.profile-image
{
    width: 16em;
    height: 12em:
    text-align: center;
    border-radius: 12em;
}

body, p, li {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

body
{
    background-color: #f9f9de;
    display:block;
}

header
{
    background-color: #ecf9de;
    padding: 10em 2em 2em;
    display:flex;
}
section
{
    padding: 0.2em 3em 0;
}

a:visited
{
    color: #a52c77;
}
a
{
    color: #ea3f6f;
}

nav
{
    position: fixed;
    background-color: #3a4745;
    width: 99%;
    border-radius: 2em;
    padding: 0.2em 0 0.2em;
    text-align: center;
    font-size: 1.2em;
}


h1
{
    font-size: 2em;
}
h2
{
    font-size: 1.8em;
}
h3
{
    font-size: 1.6em;
}

ul
{
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    #nav {
        padding: 5px 0;
    }

    #nav a {
        padding: 8px 12px;
    }

    header h2 {
        margin-top: 30px;
        font-size: 24px;
    }

    main {
        padding: 10px;
    }
}
